@{
    ViewData["Title"] = "Ali";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <!--   iniciar<br /> -->
    <!--   el diseño<br /> -->
    <!--  <abbr title="Phone">P:</abbr> -->
    <!--  425.555.0100 -->
</address>

<address>
    <!--   <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br /> -->
    <!--   <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>

<div class="container">
    <h2>Tabla de compocicion de alimentos</h2>
    <p>Lista de Componentes Segun Alimentos</p>
   
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
        <br />
    </form>
    <br />
    <br /><br />




    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#CODIGO</th>
                    <th>Nombre</th>
                    <th>Componente</th>
                    <th>Estado</th>
                    <th>Valor</th>
                    <th>UM</th>
                    <th>Categoria</th>
                    <th>Tabla</th>
                </tr>
            </thead>
            <tbody>
   
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Agua</td>
                    <td>DEFINIDO</td>
                    <td>57.71</td>
                    <td>ml</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Energia</td>
                    <td>DEFINIDO</td>
                    <td>345</td>
                    <td>Kcal.</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Proteina</td>
                    <td>DEFINIDO</td>
                    <td>2.05</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Grasa Total</td>
                    <td>DEFINIDO</td>
                    <td>37</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Carbohidratos</td>
                    <td>DEFINIDO</td>
                    <td>2.79</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Fibra Diet. Total</td>
                    <td>DEFINIDO</td>
                    <td>0</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Ceniza</td>
                    <td>DEFINIDO</td>
                    <td>0.45</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Calcio</td>
                    <td>DEFINIDO</td>
                    <td>65</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Fósforo</td>
                    <td>DEFINIDO</td>
                    <td>62</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Hierro</td>
                    <td>DEFINIDO</td>
                    <td>0.03</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Tiamina</td>
                    <td>DEFINIDO</td>
                    <td>0.02</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Riboflavina</td>
                    <td>DEFINIDO</td>
                    <td>0.11</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Niacina</td>
                    <td>DEFINIDO</td>
                    <td>0.04</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Vitamina C</td>
                    <td>DEFINIDO</td>
                    <td>1</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Vit. A. Equiv. Retinol</td>
                    <td>DEFINIDO</td>
                    <td>411</td>
                    <td>mcg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Ác. grasos mono-insat.</td>
                    <td>DEFINIDO</td>
                    <td>10.69</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Ác. grasos poli-insat.</td>
                    <td>DEFINIDO</td>
                    <td>1.37</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Ác. Grasos saturados</td>
                    <td>DEFINIDO</td>
                    <td>23.03</td>
                    <td>g</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Colesterol</td>
                    <td>DEFINIDO</td>
                    <td>137</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Potasio</td>
                    <td>DEFINIDO</td>
                    <td>75</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Sodio</td>
                    <td>DEFINIDO</td>
                    <td>38</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Zinc</td>
                    <td>DEFINIDO</td>
                    <td>0.23</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Magnesio</td>
                    <td>DEFINIDO</td>
                    <td>7</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Vitamina B6</td>
                    <td>DEFINIDO</td>
                    <td>0.03</td>
                    <td>mg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Vitamina B12</td>
                    <td>DEFINIDO</td>
                    <td>0.18</td>
                    <td>mcg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Ácido Fólico</td>
                    <td>DEFINIDO</td>
                    <td>0</td>
                    <td>mcg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Folato Equiv. FD</td>
                    <td>DEFINIDO</td>
                    <td>4</td>
                    <td>mcg</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>CREMA, ESPESA</td>
                    <td>Fracción Comestible</td>
                    <td>DEFINIDO</td>
                    <td>1</td>
                    <td>%</td>
                    <td>PRODUCTOS LÁCTEOS Y SIMILARES</td>
                    <td>Tabla  de  Composición  de  Alimentos  de  Centroamérica./INCAP</td>
                </tr>




            </tbody>
        </table>
    </div>
</div>